<h2>Products List - Master</h2>

<div class="card flex-item" *ngFor="let product of products; index as productId">
    <h3>
        <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
            {{ product.name | productPipe: product.price > 1000 ? true :  false}}
        </a>
    </h3>

    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>
    <button (click)="share()">
        Share
    </button>
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
</div>